::-webkit-scrollbar {
    display: none;
}

/*----------------------------------*/

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 15px gray;
}
.header__a {
    width: 100px;
    margin: 5px;
}
.header__logo {
    width: 100px
}
.menu{
    visibility: hidden;
}
.header__list-nav {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.header__link {
    padding-left: 100px;
}
.link{
    visibility: hidden;
}
.header__link-a{
    font-size: 18px;
}
.header__link:hover{
    
    transform: scale(1.15);
    text-decoration-line: underline;
 }
/*----------------------------------*/

.projects h1 {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 4%;
    font-size: 25px;
    text-transform: uppercase;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px gray;
    height: 800px;
    width: 1000px;
    margin: 50px;
    background: #0e1c2bb7;
}
.project__title {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 4%;
    font-size: 25px;
    text-transform: uppercase;
}
.project__element {
    height: 45%;
    width: 80%;
    margin-bottom: 5%;
}
.project__p {
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    margin-right: 5%;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

/*----------------------------------*/

.footer__container {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px gray;
    width: 1500px;
}
.footer__list {
    margin-bottom: 10%;
    font-size: 20px;
    margin: 2%;
    text-align: center;
}
.footer__list-element {
    padding-bottom: 20px;
}
/*-------------------------------------*/
@media (max-width: 576px) {
    
    .header__a, .header__logo{
        width: 5rem;  
        display: flex;
        align-items: center;

    }
    .menu{
        visibility: inherit;
    }
    .menu:hover{
    
        transform: scale(1.15);
        text-decoration-line: underline;
     }
    .menu__resp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30%;
        font-size: 18px;
    }
    .header__nav{
        width: 50%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        background: #0e1c2bb7;
    }
    .header__nav-remove{
        visibility: hidden;
    }
    .header__nav-m{
        visibility: visible;
    }
    
    nav{
        width: 20%;
        margin-right:40%;
        
    }
    .link{
        visibility: visible;
        
    }
    .header__list-nav{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .header__link{
        padding: 50%;
        line-height: 2;
    }
/*-----------------------------------------------*/

    .projects h1{
        font-size: 17px;
    }
    .project__element{
        /*iframe*/
    }


    .project__title{
        font-size: 17px;
    }
    .project__p{
        font-size: 15px;
        line-height: 1.3;
    }
    .project{
        height: 150vw; 
        width: 100vw; 
        margin-bottom: 10%;
        border-radius: 0;
    }
}